sii/data/ConsultaLR.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- editado con XMLSpy v2015 rel. 4 sp1 (x64) (http://www.altova.com) por AEAT (Agencia Estatal de Administraci칩n Tributaria) -->
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by PC Corporativo (AGENCIA TRIBUTARIA) -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:siiLRC="https://www2.agenciatributaria.gob.es/static_files/common/internet/dep/aplicaciones/es/aeat/ssii/fact/ws/ConsultaLR.xsd" xmlns:sii="https://www2.agenciatributaria.gob.es/static_files/common/internet/dep/aplicaciones/es/aeat/ssii/fact/ws/SuministroInformacion.xsd" targetNamespace="https://www2.agenciatributaria.gob.es/static_files/common/internet/dep/aplicaciones/es/aeat/ssii/fact/ws/ConsultaLR.xsd" elementFormDefault="qualified">
	<import namespace="https://www2.agenciatributaria.gob.es/static_files/common/internet/dep/aplicaciones/es/aeat/ssii/fact/ws/SuministroInformacion.xsd" schemaLocation="SuministroInformacion.xsd"/>
	<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by PC Corporativo (AGENCIA TRIBUTARIA) -->
	<complexType name="LRFiltroEmitidasType">
		<complexContent>
			<extension base="sii:RegistroSii">
				<sequence>
					<element name="IDFactura" type="sii:IDFacturaConsulta2Type" minOccurs="0"/>
					<element name="Contraparte" type="sii:ContraparteConsultaType" minOccurs="0"/>
					<element name="FechaPresentacion" type="sii:RangoFechaPresentacionType" minOccurs="0"/>
					<element name="FacturaModificada" type="sii:FacturaModificadaType" minOccurs="0"/>
					<element name="EstadoCuadre" type="sii:EstadoCuadreType" minOccurs="0"/>
					<element name="ClavePaginacion" type="sii:IDFacturaExpedidaBCType" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="LRFiltroRecibidasType">
		<complexContent>
			<extension base="sii:RegistroSii">
				<sequence>
					<element name="IDFactura" type="sii:IDFacturaConsulta1Type" minOccurs="0"/>
					<element name="FechaPresentacion" type="sii:RangoFechaPresentacionType" minOccurs="0"/>
					<element name="FacturaModificada" type="sii:FacturaModificadaType" minOccurs="0"/>
					<element name="EstadoCuadre" type="sii:EstadoCuadreType" minOccurs="0"/>
					<element name="ClavePaginacion" type="sii:IDFacturaRecibidaNombreBCType" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="LRFiltroBienInversionType">
		<complexContent>
			<extension base="sii:RegistroSii">
				<sequence>
					<element name="IDFactura" type="sii:IDFacturaConsulta1Type" minOccurs="0"/>
					<element name="FechaPresentacion" type="sii:RangoFechaPresentacionType" minOccurs="0"/>
					<element name="FacturaModificada" type="sii:FacturaModificadaType" minOccurs="0"/>
					<element name="IdentificacionBien" type="sii:TextMax40Type" minOccurs="0"/>
					<element name="ClavePaginacion" type="sii:ClavePaginacionBienType" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="LRFiltroDetOperIntracomunitariasType">
		<complexContent>
			<extension base="sii:RegistroSii">
				<sequence>
					<element name="IDFactura" type="sii:IDFacturaConsulta1Type" minOccurs="0"/>
					<element name="FechaPresentacion" type="sii:RangoFechaPresentacionType" minOccurs="0"/>
					<element name="FacturaModificada" type="sii:FacturaModificadaType" minOccurs="0"/>
					<element name="ClavePaginacion" type="sii:IDFacturaComunitariaType" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="LRFiltroOperacionesSegurosType">
		<complexContent>
			<extension base="sii:RegistroSii">
				<sequence>
					<element name="Contraparte" type="sii:ContraparteConsultaType" minOccurs="0"/>
					<element name="ClaveOperacion" type="sii:ClaveOperacionType" minOccurs="0"/>
					<element name="FechaPresentacion" type="sii:RangoFechaPresentacionType" minOccurs="0"/>
					<element name="OperacionModificada" type="sii:FacturaModificadaType" minOccurs="0"/>
					<element name="ClavePaginacion" minOccurs="0">
						<complexType>
							<sequence>
								<element name="Contraparte" type="sii:PersonaFisicaJuridicaType"/>
								<element name="ClaveOperacion" type="sii:ClaveOperacionType"/>
							</sequence>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="LRFiltroCobrosMetalicoType">
		<complexContent>
			<extension base="sii:RegistroSii">
				<sequence>
					<element name="Contraparte" type="sii:ContraparteConsultaType" minOccurs="0"/>
					<element name="FechaPresentacion" type="sii:RangoFechaPresentacionType" minOccurs="0"/>
					<element name="CobroModificado" type="sii:FacturaModificadaType" minOccurs="0"/>
					<element name="ClavePaginacion" minOccurs="0">
						<complexType>
							<sequence>
								<element name="Contraparte" type="sii:PersonaFisicaJuridicaType"/>
							</sequence>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="LRFiltroAgenciasViajesType">
		<complexContent>
			<extension base="sii:RegistroSii">
				<sequence>
					<element name="Contraparte" type="sii:ContraparteConsultaType" minOccurs="0"/>
					<element name="FechaPresentacion" type="sii:RangoFechaPresentacionType" minOccurs="0"/>
					<element name="RegistroModificado" type="sii:FacturaModificadaType" minOccurs="0"/>
					<element name="ClavePaginacion" minOccurs="0">
						<complexType>
							<sequence>
								<element name="Contraparte" type="sii:PersonaFisicaJuridicaType"/>
							</sequence>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="LRFiltroCobrosType">
		<sequence>
			<element name="IDFactura" type="sii:IDFacturaExpedidaBCType"/>
			<element name="ClavePaginacion" type="double" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="LRFiltroPagosType">
		<sequence>
			<element name="IDFactura" type="sii:IDFacturaRecibidaNombreBCType"/>
			<element name="ClavePaginacion" type="double" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="LRConsultaRecibidasType">
		<complexContent>
			<extension base="sii:ConsultaInformacion">
				<sequence>
					<element name="FiltroConsulta" type="siiLRC:LRFiltroRecibidasType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="LRConsultaEmitidasType">
		<complexContent>
			<extension base="sii:ConsultaInformacion">
				<sequence>
					<element name="FiltroConsulta" type="siiLRC:LRFiltroEmitidasType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="LRConsultaBienesInversionType">
		<complexContent>
			<extension base="sii:ConsultaInformacion">
				<sequence>
					<element name="FiltroConsulta" type="siiLRC:LRFiltroBienInversionType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="LRConsultaDetOperIntracomunitariasType">
		<complexContent>
			<extension base="sii:ConsultaInformacion">
				<sequence>
					<element name="FiltroConsulta" type="siiLRC:LRFiltroDetOperIntracomunitariasType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="LRConsultaCobrosMetalicoType">
		<complexContent>
			<extension base="sii:ConsultaInformacion">
				<sequence>
					<element name="FiltroConsulta" type="siiLRC:LRFiltroCobrosMetalicoType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="LRConsultaAgenciasViajesType">
		<complexContent>
			<extension base="sii:ConsultaInformacion">
				<sequence>
					<element name="FiltroConsulta" type="siiLRC:LRFiltroAgenciasViajesType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="LRConsultaLROperacionesSegurosType">
		<complexContent>
			<extension base="sii:ConsultaInformacion">
				<sequence>
					<element name="FiltroConsulta" type="siiLRC:LRFiltroOperacionesSegurosType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ConsultaCobrosType">
		<complexContent>
			<extension base="sii:ConsultaInformacion">
				<sequence>
					<element name="FiltroConsultaCobros" type="siiLRC:LRFiltroCobrosType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ConsultaPagosType">
		<complexContent>
			<extension base="sii:ConsultaInformacion">
				<sequence>
					<element name="FiltroConsultaPagos" type="siiLRC:LRFiltroPagosType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="ConsultaLRFacturasRecibidas" type="siiLRC:LRConsultaRecibidasType">
		<annotation>
			<documentation>Servicio de consulta de Facturas Recibidas</documentation>
		</annotation>
	</element>
	<element name="ConsultaLRFacturasEmitidas" type="siiLRC:LRConsultaEmitidasType">
		<annotation>
			<documentation>Servicio de consulta de Facturas Emitidas</documentation>
		</annotation>
	</element>
	<element name="ConsultaLRBienesInversion" type="siiLRC:LRConsultaBienesInversionType">
		<annotation>
			<documentation>Servicio de consulta en el libro de registro de bienes de inversi칩n</documentation>
		</annotation>
	</element>
	<element name="ConsultaLRDetOperIntracomunitarias" type="siiLRC:LRConsultaDetOperIntracomunitariasType">
		<annotation>
			<documentation>Servicio de consulta en el libro de registro de Determinadas Operaciones Intracomunitarias</documentation>
		</annotation>
	</element>
	<element name="ConsultaLRCobrosMetalico" type="siiLRC:LRConsultaCobrosMetalicoType">
		<annotation>
			<documentation>Servicio de consulta en el libro de registro de Cobros en Met치lico</documentation>
		</annotation>
	</element>
	<element name="ConsultaLRAgenciasViajes" type="siiLRC:LRConsultaAgenciasViajesType">
		<annotation>
			<documentation>Servicio de consulta en el libro de registro de Cobros en Met치lico</documentation>
		</annotation>
	</element>
	<element name="ConsultaCobros" type="siiLRC:ConsultaCobrosType">
		<annotation>
			<documentation>Servicio de consulta en el libro de registro de facturas expedidas</documentation>
		</annotation>
	</element>
	<element name="ConsultaPagos" type="siiLRC:ConsultaPagosType">
		<annotation>
			<documentation>Servicio de consulta en el libro de registro de facturas recibidas</documentation>
		</annotation>
	</element>
	<element name="ConsultaLROperacionesSeguros" type="siiLRC:LRConsultaLROperacionesSegurosType">
		<annotation>
			<documentation>Servicio de consulta de operaciones de seguros</documentation>
		</annotation>
	</element>
</schema>
