sii/data/wsdl/SuministroBienesInversion.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:siiLR="https://www2.agenciatributaria.gob.es/static_files/common/internet/dep/aplicaciones/es/aeat/ssii/fact/ws/SuministroLR.xsd" xmlns:sii="https://www2.agenciatributaria.gob.es/static_files/common/internet/dep/aplicaciones/es/aeat/ssii/fact/ws/SuministroInformacion.xsd" xmlns:siiR="https://www2.agenciatributaria.gob.es/static_files/common/internet/dep/aplicaciones/es/aeat/ssii/fact/ws/RespuestaSuministro.xsd" xmlns:siiLRC="https://www2.agenciatributaria.gob.es/static_files/common/internet/dep/aplicaciones/es/aeat/ssii/fact/ws/ConsultaLR.xsd" xmlns:siiLRRC="https://www2.agenciatributaria.gob.es/static_files/common/internet/dep/aplicaciones/es/aeat/ssii/fact/ws/RespuestaConsultaLR.xsd" xmlns:siiWdsl="https://www2.agenciatributaria.gob.es/static_files/common/internet/dep/aplicaciones/es/aeat/ssii/fact/ws/SuministroBienesInversion.wsdl" targetNamespace="https://www2.agenciatributaria.gob.es/static_files/common/internet/dep/aplicaciones/es/aeat/ssii/fact/ws/SuministroBienesInversion.wsdl">
	<wsdl:types>
		<xs:schema targetNamespace="https://www2.agenciatributaria.gob.es/static_files/common/internet/dep/aplicaciones/es/aeat/ssii/fact/ws/SuministroBienesInversion.wsdl" elementFormDefault="qualified" xmlns:siiWdsl="https://www2.agenciatributaria.gob.es/static_files/common/internet/dep/aplicaciones/es/aeat/ssii/fact/ws/SuministroBienesInversion.wsdl" xmlns:sii="https://www2.agenciatributaria.gob.es/static_files/common/internet/dep/aplicaciones/es/aeat/ssii/fact/ws/SuministroInformacion.xsd" xmlns:siiLR="https://www2.agenciatributaria.gob.es/static_files/common/internet/dep/aplicaciones/es/aeat/ssii/fact/ws/SuministroLR.xsd" xmlns:siiLRC="https://www2.agenciatributaria.gob.es/static_files/common/internet/dep/aplicaciones/es/aeat/ssii/fact/ws/ConsultaLR.xsd" xmlns:siiLRRC="https://www2.agenciatributaria.gob.es/static_files/common/internet/dep/aplicaciones/es/aeat/ssii/fact/ws/RespuestaConsultaLR.xsd">
			<xs:import namespace="https://www2.agenciatributaria.gob.es/static_files/common/internet/dep/aplicaciones/es/aeat/ssii/fact/ws/SuministroInformacion.xsd" schemaLocation="SuministroInformacion.xsd"/>
			<xs:import namespace="https://www2.agenciatributaria.gob.es/static_files/common/internet/dep/aplicaciones/es/aeat/ssii/fact/ws/SuministroLR.xsd" schemaLocation="SuministroLR.xsd"/>
			<xs:import namespace="https://www2.agenciatributaria.gob.es/static_files/common/internet/dep/aplicaciones/es/aeat/ssii/fact/ws/ConsultaLR.xsd" schemaLocation="ConsultaLR.xsd"/>
			<xs:import namespace="https://www2.agenciatributaria.gob.es/static_files/common/internet/dep/aplicaciones/es/aeat/ssii/fact/ws/RespuestaConsultaLR.xsd" schemaLocation="RespuestaConsultaLR.xsd"/>
			<xs:import namespace="https://www2.agenciatributaria.gob.es/static_files/common/internet/dep/aplicaciones/es/aeat/ssii/fact/ws/RespuestaSuministro.xsd" schemaLocation="RespuestaSuministro.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="EntradaSuministroLRBienesInversion">
		<wsdl:part name="SuministroLRBienesInversion" element="siiLR:SuministroLRBienesInversion"/>
	</wsdl:message>
	<wsdl:message name="EntradaAnulacionLRBienesInversion">
		<wsdl:part name="AnulacionLRBienesInversion" element="siiLR:BajaLRBienesInversion"/>
	</wsdl:message>
	<wsdl:message name="EntradaConsultaLRBienesInversion">
		<wsdl:part name="ConsultaLRBienesInversion" element="siiLRC:ConsultaLRBienesInversion"/>
	</wsdl:message>
	<wsdl:message name="RespuestaSuministroLRBienesInversion">
		<wsdl:part name="RespuestaSuministroLRBienesInversion" element="siiR:RespuestaLRBienesInversion"/>
	</wsdl:message>
	<wsdl:message name="RespuestaAnulacionLRBienesInversion">
		<wsdl:part name="RespuestaAnulacionLRBienesInversion" element="siiR:RespuestaLRBajaBienesInversion"/>
	</wsdl:message>
	<wsdl:message name="RespuestaConsultaLRBienesInversion">
		<wsdl:part name="RespuestaConsultaLRBienesInversion" element="siiLRRC:RespuestaConsultaLRBienesInversion"/>
	</wsdl:message>
	<wsdl:portType name="siiSOAP">
		<wsdl:operation name="SuministroLRBienesInversion">
			<wsdl:input message="siiWdsl:EntradaSuministroLRBienesInversion"/>
			<wsdl:output message="siiWdsl:RespuestaSuministroLRBienesInversion"/>
		</wsdl:operation>
		<wsdl:operation name="AnulacionLRBienesInversion">
			<wsdl:input message="siiWdsl:EntradaAnulacionLRBienesInversion"/>
			<wsdl:output message="siiWdsl:RespuestaAnulacionLRBienesInversion"/>
		</wsdl:operation>
		<wsdl:operation name="ConsultaLRBienesInversion">
			<wsdl:input message="siiWdsl:EntradaConsultaLRBienesInversion"/>
			<wsdl:output message="siiWdsl:RespuestaConsultaLRBienesInversion"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="siiBinding" type="siiWdsl:siiSOAP">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="SuministroLRBienesInversion">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="AnulacionLRBienesInversion">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ConsultaLRBienesInversion">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="siiService">
		<!-- Entorno de PRODUCCION día 1 de julio 2018-->
		<wsdl:port name="SuministroBienesInversion" binding="siiWdsl:siiBinding">
			<soap:address location="https://www1.agenciatributaria.gob.es/wlpl/SSII-FACT/ws/bi/SiiFactBIV1SOAP"/>
		</wsdl:port>
		<!-- Entorno de PRODUCCION día 1 de julio 2018 para acceso con certificado de sello-->
		<wsdl:port name="SuministroBienesInversionSello" binding="siiWdsl:siiBinding">
			<soap:address location="https://www10.agenciatributaria.gob.es/wlpl/SSII-FACT/ws/bi/SiiFactBIV1SOAP"/>
		</wsdl:port>
		<!-- Entorno de PRUEBAS (tambien valido para acceso con certificado de sello)-->
		<wsdl:port name="SuministroBienesInversionPruebas" binding="siiWdsl:siiBinding">
			<soap:address location="https://www7.aeat.es/wlpl/SSII-FACT/ws/bi/SiiFactBIV1SOAP"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
ation="https://prewww10.aeat.es/wlpl/SSII-FACT/ws/bi/SiiFactBIV1SOAP"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
